@model AddressBook.Modules.PhoneNo
<h3>Add Phone</h3>
<form method="post" asp-controller="Phone" asp-action="AddPhone">
    <lable for="phoneNo">Phone No</lable>
    <input type="text" name="PhoneNo" id="PhoneNo" /><br />
    @Html.ValidationMessageFor(item=>item)

    <lable for="phoneNoType">Type</lable><br />

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="mobile" />
    <lable for="phoneNoType">Mobile</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Home" />
    <lable for="phoneNoType">Home</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Work" />
    <lable for="phoneNoType">Work</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Other" />
    <lable for="phoneNoType">Other</lable>&nbsp;&nbsp;<br /><br />

    <input type="hidden" name="personId" id="PersonId" value="@Model.personId" />

    <input type="submit" />

</form>