@model AddressBook.Modules.Person
<h3 style="text-align:center; color:darkblue">ADD PHONE</h3>
<hr />

<script>
    function Back(){
        var Id = '@Model.personId';
        window.location.href = '@Url.Action("GetPhone","Person")?personId=' + Id;
    }
</script>

<style>
    .add {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn {
        background-color: #4CAF50;
    }

   .btn:hover {
            background-color: green;
    }

    .btn1 {
        background-color: grey;
        color: aliceblue;
        border: 0px
    }

    .btn1:hover {
            background-color: black;
    }
</style>

<form method="post" asp-controller="Phone" asp-action="AddPhone" >
    <lable for="phoneNo">Phone No</lable><br />
    <input type="text" class="add" name="PhoneNo" id="PhoneNo" /><br />

    <lable for="phoneNoType">Type</lable><br />

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="mobile" />
    <lable for="phoneNoType">Mobile</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Home" />
    <lable for="phoneNoType">Home</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Work" />
    <lable for="phoneNoType">Work</lable>&nbsp;&nbsp;

    
    <input type="radio" name="phoneNoType" id="phoneNoType" value="Other" />
    <lable for="phoneNoType">Other</lable>&nbsp;&nbsp;<br /><br />

    <input type="hidden" name="personId" id="PersonId" value="@Model.personId" />

    <input type="submit" class="btn" />
</form><br />
<button type="button" class="btn1" onclick="Back()">Back</button>

<br />