@model AddressBook.Modules.Person

<h3 style="text-align:center; color:darkblue">ADD EMAIL</h3>
<hr />

<script>
    function Back(){
        var Id = '@Model.personId';
        window.location.href = '@Url.Action("GetEmail","Person")?personId=' + Id;
    }
    
</script>

<style>
    .add {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn {
        background-color: #4CAF50;
    }

        .btn:hover {
            background-color: green;
        }

    .btn1 {
        background-color: grey;
        color: aliceblue;
        border: 0px
    }

        .btn1:hover {
            background-color: black;
        }
</style>
<form method="post" asp-controller="Email" asp-action="AddEmail">
    <lable for="EmailAdd">Email Address</lable><br />
    <input type="text" class="add" name="EmailAdd" id="EmailAdd" /><br />
    <lable for="EmailType">Email Type</lable><br />

    <input type="radio" name="EmailType" id="EmailType" value="Work" />
    <lable for="EmailType">Work</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="EmailType" value="Home" />
    <lable for="EmailType">Home</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="EmailType" value="Other" />
    <lable for="EmailType">Other</lable><br /><br />

    <input type="hidden" name="personId" id="PersonId" value="@Model.personId" />

    <input type="submit" class="btn"/>

</form><br />
<input type="button" class="btn1"value="Back" onclick="Back()" />

