@model AddressBook.Modules.Person

<h3 style="text-align:center; color:darkblue">ADD EMAIL</h3>
<hr />

<script>
    function Back(){
        var Id = '@Model.personId';
        window.location.href = '@Url.Action("GetEmail","Person")?personId=' + Id;
    }
    
</script>

<form method="post" asp-controller="Email" asp-action="AddEmail">
    <lable for="EmailAdd">Email Address</lable><br />
    <input type="text" class="add" name="EmailAdd" id="EmailAdd" /><br />
    <lable for="EmailType">Email Type</lable><br />

    <input type="radio" name="EmailType" id="EmailType" value="Work" />
    <lable for="EmailType">Work</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="EmailType" value="Home" />
    <lable for="EmailType">Home</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="EmailType" value="Other" />
    <lable for="EmailType">Other</lable><br /><br />

    <input type="hidden" name="personId" id="PersonId" value="@Model.personId" />

    <input type="submit" class="btn"/>

</form><br />
<input type="button" class="btn1"value="Back" onclick="Back()" />

