<h3>ADD EMAIL</h3>
<form>
    <lable for="eaddress">Email Address</lable><br />
    <input type="text" id="eaddress" name="eaddress" /><br />
    <lable for="EmailType">EmailType</lable><br />
    <select name="EmailType" id="EmailType">
        <option value="Work">Work</option>
        <option value="Home">Home</option>
        <option value="Other">Other</option>
    </select><br /><br />
    <button type="submit">ADD</button>
    <button type="reset">RESET</button>
    <button type="button">BACK</button>
</form>
