<h1>Add Person</h1>
<form>
    <label for="title">Title</label><br />
    <select name="title" id="title">
        <option value="Mr.">MR</option>
        <option value="Mrs.">MRS</option>
    </select><br />

    <label for="firstName">FirstName</label><br />
    <input type="text" name="firstName" id="firstName" /><br />

    <label for="lastName">LastName</label><br />
    <input type="text" name="LastName" id="LastName" /><br />

    <label for="middleName">MiddleName</label><br />
    <input type="text" name="middleName" id="middleName" /><br />

    <label for="age">Age</label><br />
    <input type="number" name="Age" id="Age" /><br />

    <label for="dob">Date Of Birth</label><br />
    <input type="datetime" name="dob" id="dob" /><br />

    <label for="gender">Gender</label><br />
    <input type="radio" name="gender" id="gender" />
    <label for="gender">Male</label>
    
    <input type="radio" name="gender" id="gender" />
    <label for="gender">Female</label>
    
    <input type="radio" name="gender" id="gender" />
    <label for="gender">Other</label>
    <br />
    
    <label for="category">Category</label><br />
    <input type="radio" name="category" id="category" />
    <lable for="category">Home</lable>
  
    <input type="radio" name="category" id="category" />
    <lable for="category">Work</lable>
    
    <input type="radio" name="category" id="category" />
    <lable for="category">Other</lable> <br />
    <input type="submit" value="Submit">
    <input type="reset" value="Reset" />

    
</form>