<h3>ADD PHONE NUMBER</h3>
<form>
    <lable for="no">Phone Number</lable><br />
    <input type="text" id="no" name="no" /><br />
    <lable for="phonetype">Type</lable><br />
    <select name="phonetype" id="phonetype">
        <option value="work">Work</option>
        <option value="home">Home</option>
        <option  value="other">Other</option>
    </select><br /><br />
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BACK</button>
</form>